.map-container {
  width: 32vw;
  height: 55vh;
}

.maps_both {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  vertical-align: top;
  margin-right: 5em;
  margin-left: 5em;
}

h2 {
  margin-top: 10px;

  max-width: fit-content;
  border-radius: 20%;
}
